*.suo
*.cache
HelloAcmeService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.tmp
HelloServiceClient/bin/Debug/HelloServiceAClient.exe
*.pdb
HelloServiceClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
HelloServiceClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HelloServiceClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
*.exe
HelloAcmeService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.dll
HelloAcmeService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
HelloAcmeService/obj/Debug/HelloAcmeService.csproj.FileListAbsolute.txt
HelloAcmeService/bin/Debug/HelloAcmeService.dll.config
HelloServiceClient/obj/Debug/HelloServiceAClient.csproj.FileListAbsolute.txt
HelloServiceClient/bin/Debug/HelloServiceAClient.exe.config